<!doctype html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NGZ geo visualization</title>
  <link
    href="https://d1a3f4spazzrp4.cloudfront.net/kepler.gl/uber-fonts/4.0.0/superfine.css"
    rel="stylesheet"
  />
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.1.1/mapbox-gl.css" rel="stylesheet" />
  <style type="text/css">
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
  </style>
</head>

<body>

<div id="app">
  <!-- React will load here -->
</div>
</body>
{% load static %}
<script>
  SERVER_URL="{{ request.scheme }}://{{ request.get_host }}/"

</script>
<script src='{% static "frontend/main.js" %}'></script>

</html>
